.radio-input input {
  display: none;
  
}

.radio-input {
  --container_width: 272px;
  position: relative;
  margin-top: 8px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #071017;
  color: white;
  width: var(--container_width);
  overflow: hidden;
  border: 1px solid rgba(53, 52, 52, 0.226);
  box-shadow: 0px 8px 12.3px 0px #228A88;
  border: 1px solid #228A88;
}

.radio-input label {
  width: 100%;
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 16px;
}

.selection {
  display: none;
  position: absolute;
  height: 100%;
  width: calc(var(--container_width) / 2);
  z-index: 0;
  left: 0;
  top: 0;
  transition: 0.15s ease;
}

.radio-input label:has(input:checked) {
  color: #fff;
}

.radio-input label:has(input:checked) ~ .selection {
  background-color: #228A88;
  display: inline-block;
}

.radio-input label:nth-child(2):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 1 / 2));
}
